body {
  font-family: "Inter", sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
.nav-bar {
  width: 100%;
  background-color: #1a0b2e;
  display: flex;
  box-sizing: border-box;
  padding: 30px 200px;
  justify-content: space-between;
  align-items: center;
}
.logo h1 {
  color: #ffffff;
  -webkit-text-stroke-color: #000000 1px;
}
.menu ul {
  display: flex;
  gap: 32px;
}
li {
  list-style: none;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
}
.clr-1 {
  background: linear-gradient(45deg, #f7e93f 0%, #fb09b4 51%, #9100f8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.btn {
  padding: 12px 16px;
  background: linear-gradient(45deg, #f7e93f 0%, #fb09b4 51%, #9100f8 100%);
  color: #ffffff;
  border-radius: 10000px;
  font-weight: 400;
  font-size: 16px;
  display: inline-flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;
  transition: all 1s;
}
.btn:hover {
  background: linear-gradient(45deg, #9100f8 0%, #f7e93f 51%, #fb09b4 100%);
}
.btn-1 {
  background: transparent;
  border-color: #00ff88;
  color: #00ff88;
  border-radius: 10000px;
  font-weight: 400;
  font-size: 16px;
  display: inline-flex;
  gap: 8px;
  align-items: center;
  padding: 12px 16px;
}
.fa-arrow-right {
  width: 10px;
}
.menu2 {
  display: none;
  color: #ffffff;
}
.banner {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  background-image: url("images/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-banner {
  width: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.main-1 {
  height: 350px;
  width: 350px;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 1000px;
}
.main-1img {
  z-index: g2;
}
.animation-img {
  width: 100%;
  position: absolute;
  animation: puspita 2s linear infinite;
}
@keyframes puspita {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.main-1 span {
  padding: 8px 16px;
  background-color: #00ff88;
  color: #1a0b2e;
  border-radius: 1000px;
  position: absolute;
  top: 0;
  left: 65%;
}
.main-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}
.title {
  font-weight: 800;
  font-size: 60px;
  color: #ffffff;
  text-align: center;
}
.for-p {
  font-size: 16px;
  color: #ffffff;
  text-align: center;
}
.about-p {
  margin-bottom: 30px;
}
.about {
  width: 100%;
  box-sizing: border-box;
  background-color: #1a0b2e;
  padding-top: 50px;
  padding-bottom: 120px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.max {
  max-width: 1200px;
  margin: auto;
}
.for-h1 {
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  margin-bottom: 16px;
}
.about-p {
  margin-bottom: 30px;
}
.about-box {
  width: 240px;
}
.abouth2 {
  color: #00ff88;
  font-size: 48px;
  text-align: center;
  margin-bottom: 16px;
}

.fa-star {
  font-size: 29px;
}
.problem-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.about-3 {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}
.about-2 {
  border-top: 0.5px solid #ffffff67;
  width: 100%;
}

.choose {
  background-color: #230e3d;
  padding: 120px 0px;
}
.border {
  border: 1px solid white;
}
.choose-box {
  background-color: #351165;
  padding: 40px 40px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.choose-image {
  width: 60px;
}
.for-h2 {
  color: #ffffff;
  text-align: center;
  font-weight: 1200;
  font-size: 48px;
}
.choose-main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "headphone device device"
    "headphone location location"
    "exclusive exclusive resource";
  gap: 30px;
}
.headphone {
  grid-area: headphone;
}
.device {
  grid-area: device;
}
.location {
  grid-area: location;
}
.exclusive {
  grid-area: exclusive;
}
.resource {
  grid-area: resource;
}
.choose-h {
  font-size: 24px;
  font-weight: 1200;
  color: #ffffff;
  margin-top: 16px;
  margin-bottom: 16px;
}
.choose-p {
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
}
.content-title {
  margin-bottom: 40px;
}
.feature-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  /* max-width: 1200px; */
  margin: auto;
  /* justify-content: space-between; */
  /* box-sizing: border-box; */
}

.feature-host {
  background-color: #1a0b2e;
  padding: 120px 0;
}
.fe-box {
  border-radius: 24px;
  overflow: hidden;
}
.f-h4 {
  font-size: 24px;
  font-weight: 1200;
  color: #ffffff;
  margin-bottom: 12px;
}

.f-p {
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 12px;
  color: #ffffff;
}
.f-p2 {
  color: #00ff88;
  font-size: 16px;
  font-weight: 600;
  display: inline-flex;
  gap: 6px;
}

.box-text {
  padding: 24px 24px;
  background-color: #250d44;
  display: flex;
  height: 100%;
  flex-direction: column;
}
.forh3 {
  color: #ffffff;
  font-size: 32px;
  font-weight: 1200;
}
.host-p {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  margin-top: 16px;
  margin-bottom: 16px;
}
.icon-box {
  border: 1px solid #533c72;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1000px;
}
.icon {
  display: flex;
  gap: 8px;
}
.host-1 {
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 40px;
  background-color: #351165;
  border-radius: 30px;
}
.host {
  margin-top: 120px;
}
.footer {
  padding: 120px 0px;
  width: 100%;
  background-image: url("images/footer-bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  justify-content: center;
  align-items: center;
}
.footer-logo {
  padding: 120px 0;
}
.footer-logo h1 {
  color: #ffffff;
  font-size: 54px;
  text-align: center;
  margin-bottom: 32px;
}
.footer-list ul {
  list-style: none;
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
}
.footer-list ul li {
  display: flex;
  gap: 8px;
}
.footer-logo p {
  text-align: center;
  color: #fafafa;
  font-weight: 400;
  font-size: 16px;
  margin-top: 32px;
}

/* responsive for medium device */
@media (min-width: 576px) and (max-width: 992px) {
  .about-3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    gap: 50px;
  }
  .menu {
    display: none;
  }
  .nav-bar .btn {
    display: none;
  }
  .menu2 {
    display: flex;
  }
  .nav-bar {
    padding: 0px 40px;
    box-sizing: border-box;
  }
  .choose {
    padding: 100px 40px;
  }
  .feature-content {
    grid-template-columns: repeat(1, 1fr);
  }
  .i-frame {
    width: 100%;
    height: 350px;
  }
  .feature-host {
    padding: 100px 40px;
  }
}
@media (max-width: 575px) {
  .menu {
    display: none;
  }
  .nav-bar .btn {
    display: none;
  }
  .menu2 {
    display: flex;
  }
  .nav-bar {
    justify-content: space-between;
    padding: 0px 20px;
  }
  .main-1 {
    width: 200px;
    height: 200px;
    border-radius: 1000px;
  }
  .main-1img {
    width: 60px;
  }
  .animation-img {
    width: 100%;
  }
  .main-1 span {
    padding: 8px 16px;
    font-size: 14px;
    justify-content: center;
    align-items: center;
  }
  .main-banner {
    width: auto;
    height: auto;
  }
  .title {
    font-size: 40px;
  }
  .for-p {
    font-size: 16px;
  }
  .about {
    padding: 40px 20px;
  }
  .for-h1 {
    font-size: 32px;
  }
  .about-3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
  .about-box {
    width: auto;
  }
  .choose {
    padding: 40px 20px;
  }
  .choose-h {
    font-size: 32px;
  }
  .choose-main {
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
    grid-template-areas:
      "headphone"
      "device"
      "location "
      "exclusive  "
      "resource";
  }
  .feature-content {
    grid-template-columns: repeat(1, 1fr);
    padding: 40px 20px;
  }
  .for-h2 {
    font-size: 32px;
  }
  .host {
    padding: 40px 20px;
  }
  .host-1 {
    flex-direction: column;
  }
  .h-text {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .footer-logo {
    padding: 40px 20px;
  }
  .footer-list ul {
    flex-wrap: wrap;
  }
  .footer {
    padding: 0px 0px;
    background-size: 100% 100%;
    background-image: url("images/small-footer.png");
  }
  .footer-logo h1 {
    font-size: 32px;
  }
  .banner {
    background-image: url("images/small-banner.png");
    height: 70vh;
  }
}
